body {
  padding: 50px;
  font-family: 'Arial', serif;
  font-size: 14px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  text-align: center;
  background-color: #292f60;
  width: 100%;
}

.nav a {
  margin-left: 10px;
  position: relative;
  top: 5px;
  background-color: #292f60;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: #3e3e99;
}

.dropdown {
  margin-left: 10px;
  position: relative;
  top: 5px;
  color: white;
  text-decoration: none;
  display: inline;
}

.dropdown:hover {
  background-color: #3e3e99;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdown-content {
  display: list-item;
  right: -49.5%;
  width: 265px;
}

a {
  color: #292f60;
}

h2 {
  text-align: left;
  font-size: 18px;
  padding: 25px;
  margin: 15px;
  background-color: #EEE;
  display: flex;
  align-self: center;
  page-break-inside: avoid;
  line-height: 18px;
}

h3 {
  page-break-inside: avoid;
}

.content {
  columns: 2;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  margin-top: 15px;
}

.afternoon {
  page-break-before: always;
}

.header {
  display: block;
  text-align: center;
}

.session-header {
  display: block;
  text-align: center;
  page-break-inside: avoid;
}

.track {
  display: block;
  font-size: 14px;
  background-color: white;
  margin-top: -15px;
  margin-bottom: -10px;
  text-align: center;
  padding: 7px;
  page-break-inside: avoid;
}

.room {
  font-size: 14px;
  margin-bottom: 1px;
}

.caalogo {
  padding-right: 25px;
  position: absolute;
  left: 25px;
  top: 80px;
  margin: auto;
  margin-top: 8px;
}

.caatlogo {
  width: 200px;
  position: relative;
}

.gsulogo {
  float: right;
  height: 65px;
  position: absolute;
  right: 25px;
  vertical-align: middle;
  margin-top: 15px;
}

.day {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  page-break-inside: avoid;
  margin-top: auto;
}

.paper {
  display: flex;
  width: 90%;
  page-break-inside: avoid;
}

.time {
  display: inline-table;
  margin-right: 3px;
  float: left;
  width: 25%;
  page-break-inside: avoid;
  margin-top: 0;
  margin-bottom: 8px;
  vertical-align: top;
}

.description {
  display: inline;
  font-size: 12px;
  page-break-inside: avoid;
  width: 88%;
  margin-top: 2px;
  margin-bottom: 5px;
}

.abstract {
  padding-bottom: 25px;
  border-bottom: .5px inset #333333;
}

.organizer {
  display: inline-flex;
  padding-left: 5px;
  font-style: oblique;
  font-weight: lighter;
  font-size: 12px;
  page-break-inside: avoid;
  margin-top: 0;
  margin-bottom: 2px;
  padding-bottom: 3px;
  padding-top: 1px;
}

@page {
  size: 8.5in 11in
  margin-left: .25in;
  margin-right: .25in;
  margin-bottom: .5in;
  margin-top: .5in;
}

@media print {
  h2 {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    align-self: center;
    page-break-after: avoid;
    page-break-inside: avoid;
    background-color: #EEE;
  }

  h3 {
    margin: 0;
    font-size: 14px;
  }
  .nav {
    display: none;
  }

  .author {
    display: block;
    text-transform: capitalize;
  }

  .abstract {
    display: block;
    page-break-before: avoid;
  }

}
