body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.day {
  text-transform: uppercase;
}

.paper {
  display: flex;
}

.time {
  margin-right: 5px;
  padding-right: 40px;
  float: left;
}

.description {
  display: inline;
}
