body {
  padding: 50px;
  font: 12px serif;
}

a {
  color: #00B7FF;
}

h2 {
  width: 90%;
  text-align: left;
  font-size: 16px;
  padding-top: 10px;
  background-color: #EEE;
  margin: auto;
  display: inline-flex;
  line-height: 15px;
  align-self: center;
}

.header {
  display: inline-block;
}

.caalogo {
  padding-right: 25px;
  width: 50%;
}

.gsulogo {
  float: right;
  height: 60px;
}

.day {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

.paper {
  display: flex;
  width: 90%;
  border-bottom: .25px dotted #AAA;
}

.time {
  display: inline-table;
  margin-right: 5px;
  float: left;
  width: 33%;
}

.description {
  display: inline;
  font-family: serif;
  font-size: 12px;
  text-transform: capitalize;
}

.abstract {
  padding-bottom: 25px;
  border-bottom: .5px inset #333333;
}

@page {
  size: 7in 8.5in;
  margin-right: .25in;
}

@media print {
  h2 {
    width: 90%;
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
    margin: auto;
    line-height: 15px;
    align-self: center;
    page-break-after: avoid;
  }

  .author {
    display: block;
    text-transform: capitalize;
  }

  .abstract {
    display: block;
    page-break-before: avoid;
  }
}
