body {
  padding: 50px;
  font: 12px serif;
}

a {
  color: #00B7FF;
}

h2 {
  width: 90%;
  text-align: left;
  font-size: 16px;
}

.header {
  display: inline-block;
}

.caalogo {
  padding-right: 25px;
  width: 50%;
}

.gsulogo {
  float: right;
  height: 60px;
}

.day {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

.paper {
  display: flex;
  width: 90%;
}

.time {
  display: inline-table;
  margin-right: 5px;
  float: left;
  width: 33%;
}

.description {
  display: inline;
  font-family: serif;
  font-size: 12px;
  text-transform: capitalize;
}

@page {
  size: 7in 8.5in;
  margin-right: .25in;

}
