extends layout

block content
  div(class='header')
    img(src='http://caa-international.org/wp-content/themes/caa-pink/images/header-int.png' class='caalogo')
    img(src='https://lh3.googleusercontent.com/-mkA9aSolm3s/AAAAAAAAAAI/AAAAAAAAABw/qTf4FZWDymM/s120-p-rw-no/photo.jpg' class='gsulogo')
